.wrapDiv {
    display: flex;
    flex-direction: column;
    width: 14.7vw;
    height: 100%;
    align-items: center;
}

.close {
    margin-left: auto;
}

.picture {
    margin-top: 3vh;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
}

.name {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.location {
    margin-top: 1vh;
    color: #242424;
}

.bio {
    max-width: 11.7vw;
    max-height: 45vh;  
    height: fit-content;
    width: fit-content;
    margin-top: 4vh;
    text-align: center;
    padding: 8px;
    font-size: large;
    background-color: #FCFCFC;
    border-radius: 18px;
    border: none;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

.bio::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

.bio::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 16px;
}

.bio::-webkit-scrollbar-track {
    background: none;
}