.wrapDiv {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 20px;
    padding: 5px;
}

.input {
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.label {
    display: block;
    margin-bottom: 6px;
}